@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    scroll-padding-top: 100px;
    
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @font-face {
    font-family:'Matter-Light';
    src: url('/fonts/Matter-Light.ttf') format('truetype');
  }
  @font-face {
    font-family:'Matter-LightItalic';
    src: url('/fonts/Matter-LightItalic.ttf') format('truetype');
  }
  @font-face {
    font-family:'Matter-Medium';
    src: url('/fonts/Matter-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family:'Matter-SemiBold';
    src: url('/fonts/Matter-SemiBold.ttf') format('truetype');
  }
  
  
  .blinking-cursor {
    display: inline-block;
    width: 3px;           
    height: 15px;          
    border-radius: 40px;
    background-color: rgb(131, 121, 121);
    animation: blink 1s step-end infinite; 
  }
  
